{%extends 'base.html.twig'%}
{%block body%}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    {% for message in app.flashes('error') %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
    {% endfor %}
    {% for message in app.flashes('info') %}
        <div class="alert alert-info">
            {{ message }}
        </div>
    {% endfor %}

    {{form(form)}}
{#    {{form_start(form)}}#}
{#    {{form_row(form.nom)}}#}
{#    {{form_row(form.prénom)}}#}
{#    {{form_row(form.)}}#}
{#    <div class="row">#}
{#        <div class="col">#}
{#            {{form_row(form)}}#}
{#        </div>#}
{#        <div class="col">#}
{#            {{form_row(form.color)}}#}
{#        </div>#}
{#    </div>#}

{%endblock%}
